<h1>Wellcome to first page</h1>
<%= link_to("Display Staffs", {:controller => 'staff', :action => 'index'}) %>&emsp;
<%= link_to("Display Departments", {:controller => 'department', :action => 'index'}) %>&emsp;
<%= link_to("Display Students", {:controller => 'student', :action => 'index'}) %>
