<div class = "home">
  <h1>Welcome to Home page</h1><br>
  <h3><%= link_to "Display Students", "/students"%></h3><br>
  <h3><%= link_to "Display Departments", "/departments" %></h3><br>
  <h3><%= link_to "Display Staffs", "/staffs" %></h3>
</div>
