<div class = "home">
  <h1>Welcome to Home page</h1><br>
  <h3><a><%= link_to "Display Students", "/students"%></a></h3><br>
  <h3><a><%= link_to "Display Departments", "/departments" %></a></h3><br>
  <h3><a><%= link_to "Display Staffs", "/staffs" %></a></h3>
</div>
