<h1>Welcome to Home page</h1>

<h3 title = "Click to see staff details ">
	<%= link_to("Display Staffs", {:controller => 'staff', :action => 'index'}) %>&emsp;
</h3>

 <h3 title = "Click to see department details ">
 	<%= link_to("Display Departments", {:controller => 'department', :action => 'index'}) %>&emsp;
 </h3>

<h3 title = "Click to see student details ">
	<%= link_to("Display Students", {:controller => 'student', :action => 'index'}) %>
</h3>
