<html>
<body>
  <p id="demo1">JavaScript can change the style of an HTML element.</p>
  
  <script>
    function myFunction() {
      document.getElementById("demo1").style.fontSize = "25px"; 
      document.getElementById("demo1").style.color = "red";
      document.getElementById("demo1").style.backgroundColor = "yellow"; 
    } 
  </script>
  <h1>About us page</h1>
<!-- target
	_self    opens in same window
	_blank   opens in new window
  _parent  opens in parent window
  _top     opens in full body in same window

-->    
  <a class = "link" href="https://berylsystems.com/" target = "_blank">Visit Beryl Systems</a> 
  <button class = "btn1" type = "button" onclick = "myFunction()">Click Me!</button>

  <button class = "btn1" type = "button" onclick = "document.getElementById('demo').innerHTML = Date()">Click me to display Date and Time.</button>
  <p id="demo"></p>

  <form>
    <lable for = "fname"> First Name: </lable><br>
    <input type = "text" id = "fname" name = "fname"><br>
    <label for = "lname"> Last Name: </label><br>
    <input type="text" id = "lname" name = "lname">
  </form>
  
  <h4> Choose your favourite Programming Languages</h4>
  <form>
    <input type="radio" id = "html" name="language">
    <label for = "html"> C++ </label><br>
    <input type = "radio" id = "java" name="language">
    <label for = "java" > Java </label><br>
    <input type = "radio" id = "C" name="language">
    <label for = "C" >C</label><br>
  </form>  
  
</body>
</html>