<h1>About us page</h1>
<!-- target
	_self    opens in same window
	_blank   opens in new window
    _parent  opens in parent window
    _top     opens in full body in same window

-->    
 <a href="https://berylsystems.com/" target = "_blank">Visit W3Schools.com!</a> 