<h1>Staff Details</h1>
<table>
  <thead>
	<tr>
	  <th>Name</th>
	  <th>Salary</th>
	  <th>Address</th>
	</tr>
  </thead>
  <tbody>
  	<% @staffs.each do |staff| %>
	<tr>
	  <td><%= staff.name %></td>
	  <td><%= staff.salary %></td>
	  <td><%= staff.address %></td>
	</tr>
	<% end %> 
  </tbody>
</table>

