<ul class = "show">
  <li><strong>Name: </strong><%= @staff.name %></li>
  <li><strong>Number of departments: </strong><%= @staff.departments.size%></li>
  <li><strong>Location: </strong><%= @staff.address %></li>
</ul>
<%= link_to "Back", "/staffs" %> 