// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
	background-image: url('1429640.jpg')
}
.ul1 {
  margin: 0;
  padding: 0;
  background-color: violet;
  color: black;
}

ul1.li {
  display: block;
  padding: 8px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  color: grey;
}

h3 {
	border: 4px solid powderblue;
	border-radius: 20px;
    padding: 10px;
    margin: auto;
    width: 300px;
    background-color: LightGray;
    text-align:center;
}

#Heading {
	color: white;
	border: 3px solid black;
    margin: auto;
    width: 500px;
	text-align:center;
	background-color: tomato;
}





