// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1, h3 {
	text-align:center;
}

h3 {
	border: 4px solid powderblue;
    padding: 10px;
    margin: 50px;
}