// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
	background-image: url('school-vector-5225109.jpg')
}
ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: violet;
}

li {
  float: left;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
}

h3 {
	border: 4px solid powderblue;
	border-radius: 20px;
    padding: 10px;
    margin: auto;
    width: 300px;
    background-color: LightGray;
    text-align:center;
}

#Heading {
	color: white;
	border: 3px solid black;
    margin: auto;
    width: 500px;
	text-align:center;
	background-color: tomato;
}





