// Place all the styles related to the student controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
table, th, td {
  border:1px solid black;
  background-color: LightGray;
}

table {
	width:100%;
}

td, h1, h2 {
	text-align:center;
}

#student {
	color: red;
}

.button1 {
	background-color: yellow;
}
