// Place all the styles related to the student controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
table, th, td {
  border:1px solid black;
  background-color: LightGray;
}

table {
	width:100%;
}

td, h1{
	text-align:center;
}

#student {
	color: red;
}

.button3 {
	background-color: yellow;
}

.new {
	text-align: left;
	font-size: 15px;
}

.button2 {
	background-color: white;
	font-size: 15px;
}

.button1 {
	background-color: tomato;
	font-size: 15px;
}

.student {
	text-align: left;
}


