<h2> This is about page </h2>
<br/>
<p>Amazon.com, Inc. is an American multinational technology company which focuses on e-commerce, cloud computing, digital streaming, and artificial intelligence. It is one of the Big Five companies in the U.S. information technology industry, along with Google, Apple, Meta, and Microsoft</p><br/>

<%= link_to('Clik for contact page',{:action => 'contact', :country => 'in'}) %>
