<h2> This is contact page </h2>

<p>We are here to help you</p>

<%= link_to('Clik for about page',{:action => 'about'}) %><br/>
<%= @phone %><br/>

<p>Email: <%= mail_to('tariqueaziz00786@gmail.com') %></p>

